<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/home">
      <h1>The Upweller</h1>
    </a>

    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/customers'"> Customers </a>
      <a mat-button [routerLink]="'/contacts'"> Fake 1 </a>
      <a mat-button [routerLink]="'/create-contact'"> Fake 2 </a>
      <!-- <a mat-button [routerLink]="'/auth/signup'"> Sign Up </a> -->
      <a mat-button [routerLink]="'/auth/login'"> Log In </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
